<html>
	<head>
		<title>{{page.title}} - The Ides of Code</title>
		<link rel="stylesheet" href="css/ides.css" media="screen" />
		<link rel="stylesheet" href="css/ides.css" media="print" />
	</head>
	<body>
		<div id="menu">
			<div id="logo">
				<a href="/">
					<object src="/images/logo.svg" type="image/svg+xml" id="svglogo" width="245" height="182">
						<img src="/images/logo.png" alt="Ides" />
					</object>
				</a>
			</div>
			<div id="navigation">
				<ul id="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/manual.html">Manual</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<h1>{{page.title}}</h1>
			{{content}}
			<div style="text-align: center;">
				<a href="/">Home</a>
				&middot;
				<a href="https://github.com/Ides-Language/Ides">Project Page</a>
				&middot;
				<a href="/about.html">About</a>
			</div>
		</div>
	</body>
</html>
