<html>
	<head>
		<title>{{page.title}} - The Ides of Code</title>
		<link rel="stylesheet" href="css/ides.css" media="screen" />
		<link rel="stylesheet" href="css/ides.css" media="print" />
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26832023-2']);
			_gaq.push(['_setDomainName', 'ides-lang.com']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="menu">
			<div id="logo">
				<a href="/"><img src="/images/logo.png" alt="Ides" /></a>
			</div>
			<div id="navigation">
				<ul id="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/manual.html">Manual</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<h1>{{page.title}}</h1>
			{{content}}
			<div style="text-align: center;">
				<a href="/">Home</a>
				&middot;
				<a href="https://github.com/Ides-Language/Ides">Project Page</a>
				&middot;
				<a href="/about.html">About</a>
			</div>
		</div>
	</body>
</html>
