<html>
    <head>
        <title>The Ides Programming Language</title>
        <link rel="stylesheet" href="/css/ides.css" media="screen" />
        <link rel="stylesheet" href="/css/ides.css" media="print" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26832023-2']);
            _gaq.push(['_setDomainName', 'ides-lang.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <a href="https://github.com/Ides-Language/Ides"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

        <div style="margin-left: auto; margin-right: auto; margin-bottom: 20px; width: 100%; text-align: center; font-family: helvetica;">
            <a href="https://github.com/Ides-Language/Ides">
                <img src="images/logo-medium.png" alt="The Ides Programming Language" />
            </a>
        </div>
        
    </body>
</html>
